{
  "extends": [
    "standard",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "local"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "APP_LOGS": true
  },
  "rules": {
    "prettier/prettier": "error",
    "indent": [ "error", 4 ],
    "semi": [ "error", "always" ],
    "comma-dangle": "off",
    "local/enforce-debug-prefix": "error"
  }
}
